.breadcrumb-wrapper {
  padding: 15px 0;
  // position: relative;
  overflow: hidden;
  border-top: 1px solid #efeff4;
  border-bottom: 1px solid #efeff4;
  font-size: 1.6rem;
  margin-bottom: 60px;
}

.pagination-wrapper {
  margin: 40px;
  display: flex;
  justify-content: center;
}
