@import "normalize.css";
@import "~bootstrap/scss/bootstrap";

:root {
  --header-height: 130px;
  --header-top-height: 30px;
  --header-main-height: 100px;
  --white: #fff;
  --black: #000;
  --primary-color: #2d2d2d;
  --text-color: #070707;
  --primary-color: #070707;
  //boottrap
  --bs-body-font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.h5 {
  font-size: 2.25rem;
}

.inner {
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.main-pages {
  // padding-top: var(--header-height);
  min-height: 1200px;

  background-color: var(--white);
}

//Spacer
.pt-20 {
  padding-top: 20px;
}

.btn {
  color: var(--black);
  border-color: var(--black);
  font-size: 1.6rem;
}

.btn:hover {
  color: var(--white);
  background-color: var(--black);
  // border-color: var(--bs-btn-hover-border-color);
}

.btn:active {
  color: var(--white);
  background-color: var(--black);
  opacity: 0.7;
}

.icon {
  font-size: 2.6rem;
}

//Slick
.slick-dots {
  bottom: 10px;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
}

.form-control {
  font-size: 1.6rem;
}

//Drop down

.dropdown-menu {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  .dropdown-item {
    &:focus {
      color: var(--white);
      background-color: var(--black);
    }
  }
}
.dropdown-item {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--text-color);
  background-color: var(--white);
  .nav-link {
    color: var(--text-color);
  }
  &:hover {
    color: var(--white);
    background-color: var(--black);
    a {
      color: var(--white);
    }
  }
}

//List group

.list-group-item {
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--white);
  border-radius: 4px;
  border: none;
}

.list-group-item.active {
  color: var(--white);
  background-color: var(--black);
  // border-color: red;
}
